<!DOCTYPE html>{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="Elena Williams @elequ">

    {% if not user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url=/admin/?next=/" />
    {% endif %}

    <title>{% block title %}{{ homepage.title }}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/project.css" %}" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="{% static "vendor/datatables/dataTables.bootstrap4.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

</head>

<body id="page-top">

  {% if user.is_authenticated %}

  {% include "_nav.html" %}

    <div class="content-wrapper py-3">

        <div class="container-fluid">


            <!-- Breadcrumbs -->
            {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active"></li>
            </ol>
            {% endblock %}


            {% block content %}
            {% endblock %}


        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/tether/tether.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
    <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>
    <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
    <script src="{% static "vendor/datatables/dataTables.bootstrap4.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "js/project.js" %}"></script>

    {% block extra_static %}
    {% endblock %}

    {% else %}

    <div class="content-wrapper">
      Please log in:
      <a href="/admin/">Sign in</a>
    </div>

    {% endif %}
</body>

</html>
