{% extends "base.html" %}


{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>
{% endblock %}


{% block content %}

  <div class="card-block">


  <div class="card-block">

    <h4>Ledgers</h4>

    <br>

    <h5>Accounts</h5>
    <p>
      <a href="{% url "ledgers:accounts-list" %}">
        <strong>View Chart of Accounts</strong> -- /ledgers/accounts/
      </a>
    </p>


  </div>

  <div class="card-block">


    <h5>Bank Statements</h5>
    <p>
      <a href="{% url "bank-reconciliations:bank-reconciliation-index" %}">
        <strong>View Bank Reconciliations</strong> -- /bank/reconciliations/
      </a>
    </p>
    <p>
      <a href="{% url "bank-reconciliations:bank-statement-upload" %}">
        <strong>Upload Bank Statements</strong> -- /bank/reconciliations/statements/
      </a>
    </p>


  </div>

{% endblock %}
